.movie-card {
    max-width: 100%;
    min-width: 200px;
    margin: 1em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    background-size: 100%;
    // background-clip: content-box;
    background-repeat: no-repeat;
    // background-blend-mode:hue;
    overflow: hidden;
    height: fit-content;
    color: white;
}

details {
    width: 70vw;
}
mat-card-title {
    margin: 1em;
}
img {
    // opacity: 1;
    width: 400px;
    margin: 2em;
    border-radius: 10px;
}

.content {
    margin: auto;
    width: 90vw;
    // display: flex;
    
    // justify-content: start;
    // align-items: center;
    // flex-direction: row;
    // overflow-x: scroll;
    // overflow-y: hidden;

}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.return {
    display: flex;
    justify-content: space-between;
    align-items: center;
}