<!-- <p>movie-details works!</p> -->

<div class="content" *ngIf="movieArray">
    <!-- <div *ngFor="let movie of movieArray"> -->
        <mat-card class="title">
            <h1>Movie Details</h1>
            <mat-icon (click)="goToHome()" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </mat-card>



        <mat-card *ngFor="let movie of movieArray" class="movie-card" style="background-image: url('https://www.themoviedb.org/t/p/original{{movie.backdrop_path}}');">
            <!-- <label for="">thing</label>  -->
            <!-- <img  [src]=image alt="" (click)="selectImage(image)"> -->
            <img src="https://www.themoviedb.org/t/p/w200/{{movie.poster}}" alt="">
        <!-- </mat-card> -->
        <!-- <mat-card> -->
            <div class="details">

                <mat-card-title>
                    <h1>
                         {{movie.title}} - {{movie.release_date}}
                    </h1>
                </mat-card-title>
                <p> {{movie.runtime}} Minutes</p>
                    
                <mat-card-content>
                    <div>
                        <mat-icon matTooltip="Rate" aria-hidden="false" aria-label="Rate icon" fontIcon="star_half"></mat-icon>
                        <mat-icon matTooltip="Comment" aria-hidden="false" aria-label="Comment icon" fontIcon="add_comment"></mat-icon>
                        <mat-icon matTooltip="Add to watched list" aria-hidden="false" aria-label="Watched icon" fontIcon="post_add"></mat-icon>
                        <mat-icon matTooltip="Add to watch later list" aria-hidden="false" aria-label="My Library icon" fontIcon="bookmark"></mat-icon>

                    </div>
                    <h2>Overview</h2>
                    <p>{{movie.overview}}</p>
                    <p>Movie Budget - ${{movie.budget}}</p>
                    <p>{{movie.popularity}}</p>
                </mat-card-content>
                </div>   
        </mat-card>
 

    <!-- <div *ngIf="apiResponse">
        <h3>API Response:</h3>
        <p>{{apiResponse | json}}</p>
    </div> -->
</div>