<!-- <p>movie-details works!</p> -->

<div class="content" *ngIf="movieArray">
    <div *ngFor="let movie of movieArray">

        <mat-card class="movie-card" style="background-image: url('https://www.themoviedb.org/t/p/w450/{{movie.backdrop_path}}');">
            <!-- <label for="">thing</label>  -->
            <!-- <img  [src]=image alt="" (click)="selectImage(image)"> -->
            <img src="https://www.themoviedb.org/t/p/w200/{{movie.poster}}" alt="">
            <mat-card-title>
                {{movie.title}}
            </mat-card-title>

            <mat-card-content>
                <!-- {{movie.id}} -->
                <!-- {{movie.poster}} -->
                <p>{{movie.overview}}</p>
                <p>${{movie.budget}}</p>
                <p>{{movie.popularity}}</p>
            </mat-card-content>
        </mat-card>
    </div>
<!-- 
    <div *ngIf="apiResponse">
        <h3>API Response:</h3>
        <p>{{apiResponse | json}}</p>
    </div> -->
</div>